
doctype html
html
extends layout
head
	link(rel='icon', href='../resources/img/favicon.ico', type='image/x-icon')
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
body
	link(href='../public/stylesheets/style.css', rel='stylesheet')

block content
	title Camera Feed
	.jumbotron.camera
	.jumbotron.background
	.jumbotron.backgrounds
