extends layout

block content
	h1 Bonsai care made easy.
	img(src='https://images.unsplash.com/photo-1526397751294-331021109fbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80', alt='Picture of Bonsai tree')

	p(style='font-size:160%;') Bonsai care and management requires daily attention. This application is designed to remove some of that burden and allow bonsai owners to spend more time enjoying their plant and less time worrying.
