doctype html
html
extends layout
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='description', content='')
	title Login Page
	//link(href='../resources/css/signin.css', rel='stylesheet')
	link(href='../resources/css/my_style.css', rel='stylesheet')

body.center.text-center
	block content
		.text-dark
			center
				.page-header
					h2(align='centenr') Log In
		//- img(src='https://images-na.ssl-images-amazon.com/images/I/9198DT%2BYiSL._SY550_.jpg', alt='', width='300', height='300')
		.form-group(align='center')
			label(for='Email') Email:
			input#first.form-control(type='text' placeholder="Email" style="width: 300px" )
			label(for='Password') Password:
			input#first.form-control(type='text' placeholder="Password" style="width: 300px" )
			.checkbox.mb-3
				label
					input(type='checkbox', value='remember-me')
					|  Remember me | 
				a(href='') Forgot Password?
			a(href="userHome")
				button#Reg.submit_button(type='submit') Sign In
			=" "
			a(href="register")
				button#Reg.submit_button(type='submit') Register
			p.mt-5.mb-3.text-muted © 2019-2020
		
