doctype html
html
extends layout
head

body
	link(href='../public/stylesheets/style.css', rel='stylesheet')

block content
			.page-header
				h2(align='center') Login
			form(class="form-group" method="POST" action="/login")
				.form-group(align='center')
					label(for='userName') Username:
					input#userName.form-control(name='username' type='text', placeholder='Username', style="width: 300px")
					label(for='passWord') Password:
					input#passWord.form-control(name='password' type='password', placeholder='Password', style="width: 300px")
					.checkbox
						label
							input(type='checkbox', value='', align='center')
							| Remember Me
						br

					button.submit_button(type='submit') Login