doctype html
html
extends layout

head

body
  link(href='../public/stylesheets/style.css', rel='stylesheet')

block content
  .text-dark
    center
      h2 Water Plant!
      button(align='center', onclick='water()')#water_button Water Plant

script.
  function warning() {
    alert('WARNING: Plant is automatically watered at 9am every morning.')
  }

script.
  function water() {
    console.log('Watering that plant yo')
    document.getElementById("water").disabled = true;
    //- #{'water_button'}.active = 'false'
  }
