doctype html
html
extends layout
head
  title Water Pump
  link(href='../public/stylesheets/style.css', rel='stylesheet')
body
  h2 Water Plant!
  button(onclick="getElementById('time').innerHTML = Date()") Water Plant
  p#time
