doctype html
html
extends layout

head

body
  link(href='../public/stylesheets/style.css', rel='stylesheet')

block content
  .text-dark
    center
      h2 ( ALPHA ) Water Plant!
      h3 The pump page will (eventually) allow you to water your plant from anywhere!
      h3 This functionality is still in its alpha phase.
      h4 Please remember, your plant is automatically watered every morning at 9:00 AM by default!
      button.submit_button(onclick='water()')#water_button Water Plant

  script.
    function warning() {
      alert('WARNING: Plant is automatically watered at 9am every morning.')
    }

    function water() {
      var btn = document.getElementById("water_button")
      btn.disabled = true;
      btn.style.backgroundColor = "#7f7f7f";
      warning()
    }
