doctype html
html
extends layout
head

body
	// links style sheet
	link(href='../public/stylesheets/style.css', rel='stylesheet') 

block content
	h1.center Plant Sensor Data
	script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
	script(type='text/javascript').
		google.charts.load("current", {packages:["corechart"]});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
		var data = google.visualization.arrayToDataTable([
		['Hours', 'Photo Resistivity'],
		['2004', 400],
		['2005', 460],
		['2006', 1120],
		['2007', 540]
		]);
		var options = {
		title: 'Photo Resistivity',
		curveType: 'function',
		legend: {
		position: 'none'
		},
		vAxis: {title: 'Lux (Lumens)'},
		hAxis: {title: 'Hours'}
		};
		var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
		chart.draw(data, options);
		}
	#curve_chart(align='center', style='width: 100%;')

	script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
	script(type='text/javascript').
		google.charts.load("current", {packages:["corechart"]});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
		var data = google.visualization.arrayToDataTable([
		['Hours', 'Moisture'],
		['2004', 400],
		['2005', 460],
		['2006', 1120],
		['2007', 540]
		]);
		var options = {
		title: 'Soil Moisture',
		curveType: 'function',
		legend: {
		position: 'none'
		},
		vAxis: {title: 'Volumetric Water Content'},
		hAxis: {title: 'Hours'}
		};
		var chart = new google.visualization.LineChart(document.getElementById('curve_chart_'));
		chart.draw(data, options);
		}
	#curve_chart_(align='center', style='width: 100%;')

	script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
	script(type='text/javascript').
		google.charts.load("current", {packages:["corechart"]});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
		var data = google.visualization.arrayToDataTable([
		  ['Year', 'Temperature', 'Humidity'],
		  ['2004',  1000,      12],
		  ['2005',  1170,      20],
		  ['2006',  660,       10],
		  ['2007',  1030,      15]
		]);
		var options = {
		title: 'Temperature',
		curveType: 'function',
		legend: {
		position: 'bottom'
		},
		series: {
		  0: {targetAxisIndex: 0},
		  1: {targetAxisIndex: 1}
		},
		vAxes: {
			// Adds titles to each axis.
			0: {title: 'Temperature (Farenheit)'},
			1: {title: 'Humidity (%)'}
		}
		};
		var chart = new google.visualization.LineChart(document.getElementById('curve_chart__'));
		chart.draw(data, options);
		}
	#curve_chart__(align='center', style='width: 100%;')
