body {
  padding: 25px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj6hcSyk_ThAhVyKH0KHfNbB9YQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.amazon.com%2FAOFOTO-Background-Landscape-Photography-Wonderland%2Fdp%2FB07CVH5CF9&psig=AOvVaw0xsStxpptG5cumfHWjXcrW&ust=1556587752194852");

}
