body {
  padding: 25px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #555;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}
img {
  float: left;
  padding: 14px 16px;
}
p {
  padding: 14px 16px;
}

.submit_button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
}
.submit_button_disabled
{
  background-color: #7f7f7f; /* Gray */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 300px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 20px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 300;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.camera{
  background-color: #4CAF50;
  border: none;
  position : absolute;
  right: 0px;
  width: 720px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.cameraL{
  background-color: #7D26CD;
  border: none;
  position : absolute;
  left: 0px;
  width: 720px;
  height:690px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.camerabr{
  background-color: #add8e6;
  border: none;
  position : absolute;
  right: 0px;
  bottom:0px;
  width: 720px;
  height:425px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.camerat{
  background-color: #000000;
  border: none;
  position : absolute;
  right:16px;
  bottom:8px;
  width: 200px;
  height:200px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
.cimage{
  display: block;
  margin-left: 500px;
  margin-right: auto;

}
.textDis{
display: block;
margin-left: 200px;
margin-right: auto;
width: 50%;
}
