<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Camera Feed</title>

	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link href="../resources/css/signin.css" rel="stylesheet">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
	<body class="right text-right">

	<div class="jumbotron text-left">
	  <h1>Camera Feed</h1>
	  <p>The Camera takes a photo every ten minutes and uploads</p>
	</div>
	</body>
	<feed class="right text-right">

		<div class="jumbotron text-left">
		  <h1>Camera Feed goes in here</h1>
		</div>
		</feed>
	</html>
